@model Live_Commerce_Platform.PayPalApi.PayPalInvoices
@{
    ViewBag.Title = "AllInvoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    var success = false;
    function modalClose() {
        $('#editModel').hide();
        $("#invoice-item-details").find("tr").remove();
        if (success) {
            window.location.href = "/PayPalInvoice/AllInvoices";
        }
    }

    $(document).ready(function () {
        $('#all').click(function () {
            $("input[type='search']").val('');
            $("input[type='search']").focus();
        });

        $('#draft').click(function () {
            $("input[type='search']").val('draft');
            $("input[type='search']").focus();
        })

        $('#unpaid').click(function () {
            $("input[type='search']").val('sent');
            $("input[type='search']").focus();
        });

        $('#paid').click(function () {
            $("input[type='search']").val('paid');
            $("input[type='search']").focus();
        });

        $('#refunded').click(function () {
            $("input[type='search']").val('refunded');
            $("input[type='search']").focus();
        });
    });
</script>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="height:70px;">
                        <div class="navbar navbar-expand-sm bg-primary">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <button class="btn btn-primary" id="all">ALL</button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-primary" id="draft">DRAFT</button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-primary" href="#" id="unpaid">SENT</button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-primary" href="#" id="paid">PAID</button>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-primary" href="#" id="refunded">REFUNDED</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Id</th>
                                    <th>Status</th>
                                    <th>Billing Email</th>
                                    <th>Amount</th>
                                    <th>Paid Amount</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var invoiceDetail in Model.invoices)
                                {
                                    <tr>
                                        <td>@invoiceDetail.metadata.created_date</td>
                                        <td>@invoiceDetail.id</td>
                                        <td>@invoiceDetail.status</td>
                                        <td>@invoiceDetail.billing_info[0].email</td>
                                        <td>@invoiceDetail.total_amount.value @invoiceDetail.total_amount.currency</td>
                                        <td>@invoiceDetail.paid_amount.paypal.value @invoiceDetail.paid_amount.paypal.currency</td>
                                        <td>
                                            <button type="submit" class="btn btn-primary btn-default" data-target="#editModel" data-toggle="modal" onclick="getInvoiceDetail('@invoiceDetail.id', '@invoiceDetail.status')">View</button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- .animated -->
</div>

<div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="model-load-container">
            <div class="model-loader">
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Invoice details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" onclick="modalClose()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" style="display:none;"></div>
                <div class="alert alert-warning" style="display:none;"></div>
                <div class="mb-3">
                    <p>Invoide Date: <b><span id="invoice-date"></span></b></p>
                    <p>Invoice ID: <b><span id="invoice-id"></span></b></p>
                    <p>Billing email: <b><span id="invoice-billing-email"></span></b></p>
                    <p id="payment-date" style="display:none">Payment date: <b><span id="invoice-payment-date"></span></b></p>
                    <p id="transaction-id" style="display:none">Transaction ID: <b><span id="invoice-transaction-id"></span></b></p>
                    <p>Gross amount: <b><span id="invoice-gross-amount"></span></b></p>
                    <p>Invoice status: <b><span id="invoice-status"></span></b></p>
                </div>
                <hr />
                <div class="mb-3">
                    <p style="background-color:silver; font-size:16px; color:black;">Shipping details</p>
                    <p><span id="invoice-name"></span></p>
                    <p><span id="invoice-billing-address"></span></p>
                    <p><span id="invoice-billing-city"></span> <span id="invoice-billing-postal-code"></span></p>
                    <p><span id="invoice-billing-state"></span> <span id="invoice-billing-country-code"></span></p>
                </div>
                <hr />
                <div class="mb-3">
                    <p style="background-color:silver; font-size:16px; color:black;">Item details</p>
                    <table class="table" id="invoice-item-details">
                        <thead>
                            <tr>
                                <td>Item name</td>
                                <td><span>Quantity</span></td>
                                <td>Unit price</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <hr />
                <div class="mb-3">
                    <p style="background-color:silver; font-size:16px; color:black;">Payment details</p>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Shipping Fee</td>
                                <td><span id="invoice-shipping-fee"></span></td>
                            </tr>
                            <tr>
                                <td>Total Amount</td>
                                <td><span id="invoice-total-amount"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" id="draft-status">
                <button type="button" class="btn btn-primary" onclick="sendInvoice()">Send</button>
                <button type="button" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-primary" onclick="deleteInvoice()">Delete</button>
            </div>
            <div class="modal-footer" id="unpaid-status">
                <button type="button" class="btn btn-primary" onclick="remindInvoice()">Remind</button>
                <button type="button" class="btn btn-primary" onclick="cancelInvoice()">Cancel</button>
            </div>
            <div class="modal-footer" id="paid-status">
                <button type="button" class="btn btn-primary" onclick="refundInvoice()">Refund</button>
            </div>
        </div>

    </div>
</div>
<script>

    function getInvoiceDetail(invoice_id, invoice_status) {
        $('.alert-warning').hide();
        $('.alert-success').hide();
        $.ajax({
            url: '/PayPalInvoice/GetInvoiceDetails',
            type: "GET",
            data: { invoiceId: invoice_id },
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('.load-container').hide();
                $('.model-load-container').show();
                $('.modal-content').hide();
            }, complete: function (data) {
                $('.load-container').hide();
                $('.model-load-container').hide();
                $('.modal-content').show();
            },
            success: function (data) {
                var res = JSON.parse(data);
                $('#invoice-date').text(res.invoice_date);
                $('#invoice-id').text(res.id);
                $('#invoice-billing-email').text(res.billing_info[0].email);
                $('#invoice-gross-amount').text(res.total_amount.value + " " + res.total_amount.currency);
                $('#invoice-status').text(res.status);
                $('#invoice-name').text(res.shipping_info.first_name + " " + res.shipping_info.last_name);
                $('#invoice-billing-address').text(res.shipping_info.address.line1);
                $('#invoice-billing-city').text(res.shipping_info.address.city);
                $('#invoice-billing-postal-code').text(res.shipping_info.address.postal_code);
                $('#invoice-billing-country-code').text(res.shipping_info.address.country_code);
                $('#invoice-billing-state').text(res.shipping_info.address.state);
                for (var i = 0; i < res.items.length; i++) {
                    var $tr = "<tr><td><span>" + res.items[i].name + "</span></td>";
                    $tr += "<td><span>" + res.items[i].quantity + "</span></td>";
                    $tr += "<td><span>" + res.items[i].unit_price.value + " " + res.items[i].unit_price.currency + "</span></td></tr>";
                    $("#invoice-item-details").append($tr);
                }
                $('#invoice-shipping-fee').text(res.shipping_cost.amount.value + " " + res.shipping_cost.amount.currency);
                $('#invoice-total-amount').text(res.total_amount.value + " " + res.total_amount.currency);
                $('#transaction-id').hide();
                $('#payment-date').hide();
                if (res.payments != null) {
                    $('#transaction-id').show();
                    $('#payment-date').show();
                    $('#invoice-payment-date').text(res.payments[0].date);
                    $('#invoice-transaction-id').text(res.payments[0].transaction_id);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
        if (invoice_status == "DRAFT") {
            $('#unpaid-status').css("display", "none");
            $('#paid-status').css("display", "none");
        } else if (invoice_status == "PAID") {
            $("#draft-status").css("display", "none");
            $('#unpaid-status').css("display", "none");
            $('#paid-status').css("display", "");
        } else if (invoice_status == "SENT") {
            $("#draft-status").css("display", "none");
            $('#unpaid-status').css("display", "");
            $('#paid-status').css("display", "none");
        }
    }

    function sendInvoice() {
        var invoiceId = $('#invoice-id').text();
        $.ajax({
            url: '/PayPalInvoice/SendInvoice',
            type: "POST",
            data: JSON.stringify({
                "invoiceId": invoiceId
            }),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('.load-container').hide();
                $('.model-load-container').show();
                $('.modal-content').hide();
            }, complete: function (data) {
                $('.load-container').hide();
                $('.model-load-container').hide();
                $('.modal-content').show();
            },
            success: function (data) {
                console.log(data);
                if (data == 'Accepted') {
                    $('.alert-success').show();
                    $('.alert-warning').hide();
                    $('.alert-success').text("Invoice has been sent");
                    success = true;
                } else {
                    $('.alert-warning').show();
                    $('.alert-success').hide();
                    $('.alert-warning').text(data);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function deleteInvoice() {
        var invoiceId = $('#invoice-id').text();
        $.ajax({
            url: '/PayPalInvoice/DeleteInvoice',
            type: "POST",
            data: JSON.stringify({
                "invoiceId": invoiceId
            }),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('.load-container').hide();
                $('.model-load-container').show();
                $('.modal-content').hide();
            }, complete: function (data) {
                $('.load-container').hide();
                $('.model-load-container').hide();
                $('.modal-content').show();
            },
            success: function (data) {
                console.log(data);
                if (data == 'NoContent') {
                    $('.alert-success').show();
                    $('.alert-warning').hide();
                    $('.alert-success').text("Invoice has been deleted");
                    success = true;
                } else {
                    $('.alert-warning').show();
                    $('.alert-success').hide();
                    $('.alert-warning').text(data);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function remindInvoice() {
        var invoiceId = $('#invoice-id').text();
        $.ajax({
            url: '/PayPalInvoice/RemindInvoice',
            type: "POST",
            data: JSON.stringify({
                "invoiceId": invoiceId
            }),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('.load-container').hide();
                $('.model-load-container').show();
                $('.modal-content').hide();
            }, complete: function (data) {
                $('.load-container').hide();
                $('.model-load-container').hide();
                $('.modal-content').show();
            },
            success: function (data) {
                console.log(data);
                if (data == 'Accepted') {
                    $('.alert-success').show();
                    $('.alert-warning').hide();
                    $('.alert-success').text("Invoice has been reminded");
                    success = true;
                } else {
                    $('.alert-warning').show();
                    $('.alert-success').hide();
                    $('.alert-warning').text(data);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function cancelInvoice() {
        var invoiceId = $('#invoice-id').text();
        $.ajax({
            url: '/PayPalInvoice/CancelInvoice',
            type: "POST",
            data: JSON.stringify({
                "invoiceId": invoiceId
            }),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('.load-container').hide();
                $('.model-load-container').show();
                $('.modal-content').hide();
            }, complete: function (data) {
                $('.load-container').hide();
                $('.model-load-container').hide();
                $('.modal-content').show();
            },
            success: function (data) {
                console.log(data);
                if (data == 'NoContent') {
                    $('.alert-success').show();
                    $('.alert-warning').hide();
                    $('.alert-success').text("Invoice has been canceled");
                    success = true;
                } else {
                    $('.alert-warning').show();
                    $('.alert-success').hide();
                    $('.alert-warning').text(data);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function refundInvoice() {
        var transactionId = $('#invoice-transaction-id').text();
        $.ajax({
            url: '/PayPalExpressCheckout/RefundTransaction',
            type: "POST",
            data: JSON.stringify({
                "transactionId": transactionId
            }),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('.load-container').hide();
                $('.model-load-container').show();
                $('.modal-content').hide();
            }, complete: function (data) {
                $('.load-container').hide();
                $('.model-load-container').hide();
                $('.modal-content').show();
            },
            success: function (data) {
                var res = JSON.parse(data);
                if (res.status == 'COMPLETED') {
                    success = true;
                    $('.alert-success').show();
                    $('.alert-warning').hide();
                    $('.alert-success').text("Refunded");
                } else {
                    $('.alert-warning').show();
                    $('.alert-success').hide();
                    $('.alert-warning').text("Already refunded");
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function getDateFromAspNetFormat(date) {
        const re = /-?\d+/;
        const m = re.exec(date);
        return parseInt(m[0], 10);
    }

    Date.prototype.format = function (format) {
        var date = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "h+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),
            "S": this.getMilliseconds()
        };
        if (/(y+)/i.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
        }
        for (var k in date) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
            }
        }
        return format;
    };
</script>

