@model Live_Commerce_Platform.PayPalApi.PayPalTransaction
@{
    ViewBag.Title = "AllTransactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table > tbody > tr > td {
        border: 0px;
    }
</style>
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<script>
    function modalClose() {
        $('#editModel').hide();
    }
</script>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Data Table</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Payer Email Address</th>
                                    <th>Transaction Id</th>
                                    <th>Invoice Id</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var transactionDetail in Model.transaction_details)
                                {
                                <tr>
                                    <td>@transactionDetail.transaction_info.transaction_updated_date.AsDateTime().ToString()</td>
                                    <td>@transactionDetail.payer_info.email_address</td>
                                    <td>@transactionDetail.transaction_info.transaction_id</td>
                                    <td>@transactionDetail.transaction_info.invoice_id</td>
                                    <td>@transactionDetail.transaction_info.transaction_amount.value</td>
                                    @if (transactionDetail.transaction_info.transaction_event_code == "T0006")
                                    {
                                        <td style="color:cornflowerblue">Completed</td>
                                    }
                                    else if (transactionDetail.transaction_info.transaction_event_code == "T1107")
                                    {
                                        <td style="color:cornflowerblue">Refunded</td>
                                    }
                                    <td>
                                        <button type="submit" class="btn btn-primary btn-default" data-target="#editModel" data-toggle="modal" onclick="getTransactionDetail('@transactionDetail.transaction_info.transaction_id')">View</button>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- .animated -->
</div>

<div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="model-load-container">
            <div class="model-loader">
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Transaction details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" onclick="modalClose()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <p id="tr-transaction-updated-date"></p>
                    <p>Transaction ID: <span id="tr-transaction-id"></span></p>
                    <p id="tr-ref-id">Reference transaction ID: <span id="tr-ref-transaction-id"></span></p>
                    <p>Gross amount: <b><span id="tr-top-gross-amount"></span></b></p>
                    <p>Payment status: <span id="tr-transaction-status"></span></p>
                </div>
                <hr />
                <div class="mb-3">
                    <p>Payment details</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Gross amount</td>
                                <td><span id="tr-gross-amount"></span></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PayPal Fee</td>
                                <td><span id="tr-paypal-fee"></span></td>
                            </tr>
                            <tr>
                                <td>Net amount</td>
                                <td><span id="tr-net-amount"></span></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr />
                <div class="mb-3">
                    <p>Memo : <span id="tr-description"></span></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="tr-refund" class="btn btn-primary" onclick="refundTransaction()">Refund</button>
            </div>
        </div>

    </div>
</div>
<script>
    function getTransactionDetail(transactionId) {
        $.ajax({
            url: '/PayPalExpressCheckout/GetTransactiondDetail',
            type: "GET",
            data: { transactionId: transactionId },
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('.load-container').hide();
                $('.model-load-container').show();
                $('.modal-content').hide();
            }, complete: function (data) {
                $('.load-container').hide();
                $('.model-load-container').hide();
                $('.modal-content').show();
            },
            success: function (data) {
                var res = JSON.parse(data);
                console.log(res);
                var transaction_info = res.transaction_details[0].transaction_info;
                $('#tr-transaction-updated-date').text(transaction_info.transaction_updated_date);
                $('#tr-transaction-id').text(transaction_info.transaction_id);
                $('#tr-top-gross-amount').text(transaction_info.transaction_amount.value + " " + transaction_info.transaction_amount.currency_code);                
                $('#tr-gross-amount').text(transaction_info.transaction_amount.value + " " + transaction_info.transaction_amount.currency_code);
                $('#tr-paypal-fee').text(transaction_info.fee_amount.value + " " + transaction_info.fee_amount.currency_code);
                $('#tr-description').text(transaction_info.transaction_subject);
                var netAmount = parseFloat(transaction_info.transaction_amount.value) + parseFloat(transaction_info.fee_amount.value);
                $('#tr-net-amount').text(netAmount + " " + transaction_info.fee_amount.currency_code);
                if (transaction_info.transaction_event_code == 'T1107') {
                    $('#tr-ref-id').css("display", "");
                    $('#tr-transaction-status').text("Refunded");
                    $('#tr-ref-transaction-id').text(transaction_info.paypal_reference_id);
                     $('#tr-refund').css("display", "none");
                } else if (transaction_info.transaction_event_code == "T0006") {
                    $('#tr-transaction-status').text("Completed");
                    $('#tr-ref-id').css("display", "none");
                    $('#tr-refund').css("display", "");
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    };

    function refundTransaction() {
        var transactionId = $('#tr-transaction-id').text();
        console.log(transactionId);
        $.ajax({
            url: '/PayPalExpressCheckout/RefundTransaction',
            type: "post",
            data: { 'transactionId': transactionId },
            success: function (data) {
                var res = JSON.parse(data);
                //console.log(data);
                console.log(res);
                if (json.status == 'COMPLETED') {
                    window.alert('Refunded.');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function getDateFromAspNetFormat(date) {
        const re = /-?\d+/;
        const m = re.exec(date);
        return parseInt(m[0], 10);
    }

    Date.prototype.format = function (format) {
        var date = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "h+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),
            "S": this.getMilliseconds()
        };
        if (/(y+)/i.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
        }
        for (var k in date) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
            }
        }
        return format;
    };
</script>

